*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #4a4a4d;
  height: 25px;
}

.nav a{
  color: #f3f3f3;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px;
  margin-left: 5px;
}

.nav a:hover{
  text-decoration: underline;
  text-decoration-color: #dadada;
}

.nav li{
  padding-left: 5px;
  padding-right: 5px;
}

.top-left{
  margin-right: auto;
}

.bottom-nav{
  height: 130px;
  width: 100%;
}

.site-logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27%;
  float: left;
  max-width: 370px;

}

@media only screen and (max-width: 1335px){
  .site-logo{
    width: 25%;
  }
}

.center-nav{
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
width: 63%;
float: left;
}

#first{
  margin-left: 0px;
}



.nav-right{
  float: left;
  width: 10%;
  height: 110px;
  font-size: 12px;
  font-family: Arial;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #c2c2c2;
  margin-top: 10px;
}

@media only screen and (max-width: 1335px){
  .nav-right{
    display: none;
  }
  .center-nav{
    width: 75%;
  }
}

@media only screen and (min-width:1430px){
  .center-nav{
    width: %;
  }
}

@media only screen and (min-width: 1545px){
  .center-nav{
    width: 66%;
  }
}

@media only screen and (min-width: 1680px){
  .center-nav{
    width: 68%;
  }
  .nav-right{
    width: 9%;
  }
}

@media only screen and (min-width:1745px){
  .center-nav{
    width: 69%;
  }
}

@media only screen and (min-width:1850px){
  .center-nav{
    width: 71%
  }
}

@media only screen and (min-width:1980px){
  .center-nav{
    width: 72%
  }
}

@media only screen and (min-width:2040px){
  .center-nav{
    width: 73%
  }
  .nav-right{
    width: 8%;
  }
}

@media only screen and (min-width:2120px){

  .center-nav{
    width: 74%
  }
}
@media only screen and (min-width:2200px){
  .center-nav{
    width: 75%
  }
  .feature-text{
    height: 8vw;
  }
}

@media only screen and (min-width:2290px){
  .center-nav{
    width: 76%
  }
  .nav-right{
    width: 7%;
  }
}
@media only screen and (min-width:2370px){
  .center-nav{
    width: 77%
  }

}

@media only screen and (min-width:2490px){
  .center-nav{
    width: 78%
  }
}


.nav-right_a{
  text-decoration: none;
  color: #4a4a4d;
  margin: 5px;
}

.nav-right_a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.site-logo_title{
  font-size: 40px;
  font-family: AppleGothic;
  border-bottom: 1px solid #c2c2c2;
  width: 300px;
  margin-left: 10px;
}

@media only screen and (max-width: 1335px){
  .site-logo_title{
    font-size: 35px;
    width: 250px;
    margin: 0px;
    margin-left: 10px;
  }
}

@media all and (display-mode:fullscreen){
  .site-logo_title{
    margin-left: 20px;
  }
}

.site-logo_slogan{
  font-size: 24px;
  font-family: AppleGothic;
  border-bottom: 1px solid #c2c2c2;
  width: 350px;
  margin: 0px;
  margin-left: 10px;
}


@media only screen and (max-width: 1335px){
  .site-logo_slogan{
    font-size: 22px;
    width: 300px;
    margin: 0px;
    margin-left: 10px;
  }
}

@media all and (display-mode: fullscreen){
  .site-logo_slogan{
    margin-left: 20px;
  }
}

.cell a{
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  color: #43453d;
  font-weight: 200;
}

.cell a:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

.cell{
  border-right: 1px solid #c2c2c2;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}



.top{
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
}

@media only screen and (max-width: 1335px){
  .top{
    width: 100%;
  }
}


@media only screen and (min-width: 1336px){

  #first{
    margin-left: 3%;
  }
  .center-nav{
    justify-content: space-around;
  }
  .cell{
    flex: ;
    width:20%;
    margin-left: 0px;
    margin-right: 0px;
    margin:3%;

  }
  .cell:last-of-type{
    margin-right: %;
  }
  .two{
    padding-left: 0px;
  }
  .three{
    padding-left: 0px;
  }
}

.bottom{
  border-bottom: none;
  width:175px;
}

.logo{
padding-top: 2px;
margin-right: 15px;
}

.logo_image{
  border-radius: 20px;
}

.mega-drop{
  position: absolute;
  height: 650px;
  width: 100%;
  background-color: white;
  left: 0px;
  right: 0px;
  list-style: none;
  z-index: 1;
  display: flex;
  display: none;
}

.lyrics:hover .mega-drop{
  display:flex;
}

.column{
  flex: 1;
  list-style: none;
  border-left: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  text-align: center;
}

.column li:first-of-type{
  border-left: none;
}

.border{
  width: 100%;
  height: 160px;
  background-color: #303030;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.album{
  margin-top: 5px;
  height: 150px;
  width: 155px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.head{
  padding-top: 10px;
  border-bottom: 1px solid #303030;
  width: 70%;
  margin: 0 auto;
}

.list_item{
  padding-top: 15px;
  list-style-type: none;
}

.list_item:first-of-type{
  padding-top:
}



.news-title{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #9b9b9b;
  font-family: Arial;
  text-align: center;
}

.banner{
  width: 100%;
  height: 650px;
  background-image: url(./images/mosh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 699px){
  .banner{
    display: none;
  }
}

@media only screen and (min-width:1550px){
  .banner{
    height: 900px;
  }
}

@media only screen and (min-width: 2150px){
  .banner{
    height: 1000px;
  }
}

@media only screen and (min-width: 2350px){
  .banner{
    height: 1050px;
  }
}



.video-title{
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 4px;
  color: #9b9b9b;
  margin-top: 10px;
  margin-bottom: 10px;
  /*text-transform: uppercase;*/
}



.container-reviews_title{
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  letter-spacing: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #9b9b9b;
}


.container-review-page{
  width: 85%;
  margin: 0 auto;
  margin-top: 5px;
}

.review-under{
  height: 125px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.review-under-title{
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 2px;
  color: #434d53;
  text-decoration: none;
  font-weight: bold;
}

.review-master a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.review-apart a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.review-under-content{
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 2px;
  color: #4a4a4a;
}

@media only screen and (min-width: 600px){
  .review-under-title{
    font-size: 22px;
  }
  .review-under-content{
    font-size: 18px;
  }
}

@media only screen and (min-width: 1225px){
  .review-under-title{
    font-size: 24px;
  }
  .review-under-content{
    font-size: 20px;
  }
}

.set-one-bottom{
border-bottom: 5px solid #4a4a4a;
float: right;
margin-top: 180px;
}

.set-two{
  padding-top:20px;
  clear: both;
}

.set-two-bottom{
  text-align: left;
  border-bottom: 5px solid #4a4a4a;
  float: left;
  margin-top: 190px;
}

.review-two{
  float: right;
  height: 500px;
  width: 500px;
  background-image: url(./images/space.jpg);
  background-position: center;
  background-size: cover;
}

.set-three{
clear: right;
padding-top: 20px;
}

.review-three{
  float: left;
  height: 500px;
  width: 500px;
  background-image: url(./images/imp.jpg);
  background-size: cover;
  background-position: center;
}

.set-three-bottom{
  border-bottom: 5px solid #4a4a4a;
  float: right;
  margin-top: 190px;
}

.set-four{
  clear: both;
  padding-top: 20px;
}

.review-four{
  float: right;
  height: 500px;
  width: 500px;
  background-image: url(./images/cake.jpg);
  background-size: cover;
  background-position: center;
}

.set-four-bottom{
  border-bottom: 5px solid #4a4a4a;
  float: left;
  margin-top: 190px;
}


@media only screen and (min-width:1335px){
  .review-one{
    height: 600px;
    width: 600px;
  }

  .review-two{
    height: 600px;
    width: 600px;
  }
  .review-three{
    height: 600px;
    width: 600px;
  }
  .review-four{
    height: 600px;
    width: 600px;
  }
}

@media only screen and (max-width: 1200px){
  .review-one{
    height: 400px;
    width: 400px;
  }
  .review-two{
    height: 400px;
    width: 400px;
  }
  .review-three{
    height: 400px;
    width: 400px;
  }
  .review-four{
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 1200px){
  .set-one-bottom{
    margin-top: 120px;
  }
  .set-two-bottom{
    margin-top: 120px;
  }
  .set-three-bottom{
    margin-top: 120px;
  }
  .set-four-bottom{
    margin-top: 120px;
  }
}

@media only screen and (min-width: 1335px){
  .set-one-bottom{
    margin-top: 220px
  }
  .set-two-bottom{
    margin-top: 220px;
  }
  .set-three-bottom{
    margin-top: 220px
  }
  .set-four-bottom{
    margin-top: 220px;
  }
}

.additional-content{
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.container-additional-content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}



.additional-content-under_under a{
  text-decoration: none;
  color: #4a4a4a;
}

.additional-content-under_under a:hover{
  text-decoration: underline;
  text-decoration-color: #4a4a4a;
}

@media only screen and (min-width: 1200px){
  .content-left{
    height: 230px;
  }
  .content-center{
    height: 230px;
  }
  .content-right{
    height: 230px;
  }
  .additional-left{
    height: 230px;
  }
  .additional-center{
    height: 230px;
  }
  .additional-right{
    height: 230px;
  }
}

@media only screen and (min-width: 1335px){
  .content-left{
    height: 240px;
  }
  .content-center{
    height: 240px;
  }
  .content-right{
    height: 240px;
  }
  .additional-left{
    height: 240px;
  }
  .additional-center{
    height: 240px;
  }
  .additional-right{
    height: 240px;
  }
}

.images-wall{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 5px;

}

.lyrics-title{
margin-left: 8%;
margin-bottom: 10px;
display:flex;
justify-content: center;
margin-top: 10px;
}

.lyrics-word{
  font-size: 28px;
  font-family: Arial;
  font-weight: 400;
  color: #434d53;
  border-bottom: 5px solid #c2c2c2;;
  width: 110px;
  letter-spacing: 6px;
}

@media only screen and (min-width: 500px){
  .lyrics-title{
    margin-left: 6%;
  }
}


@media only screen and (min-width:800px){
  .images-wall{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 900px){
  .images-wall{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width:1035px){
.images-wall{
  grid-template-columns: repeat(5, 1fr);
  float: left;
  width: 94%;
}
.lyrics-title{
  display: block;
  float: right;
  width: 6%;
  transform: rotate(270deg);
  margin-left: 0px;
  margin-top: 28%;
  margin-bottom: 0px;
}
}

.album-size{
  height: auto;
  width: 100%;
}

.images-wall a{
  text-decoration: none;
  outline: none;
}

.container-wrap-reviews{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.container-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

@media only screen and (min-width: 1035px){
  .container-container{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .container-wrap-reviews{
    width: 98.5%;
  }
}

  @media only screen and (min-width: 1900px){
    .container-wrap-reviews{
      width: 99%;
    }
}

.review-page-addition{
  padding-bottom: 0px;
  width: 90%;
  margin: 0 auto;
}


.small-nav{
  height: 70px;
  width: 100%;
  display: none;
  background-color: #fefefe;
}

.small-nav_logo{
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.small-logo{
  font-family: AppleGothic;
  border-bottom: 1px solid #c2c2c2;
  width: 170px;
}

.small-slogan{
  font-family: AppleGothic;
  border-bottom: 1px solid #c2c2c2;
  width: 200px;
}

@media only screen and (max-width:1035px){
  .small-nav{
    display: block;
  }
  .bottom-nav{
    display: none;
  }
  .nav{
    display: none;
  }
}

.small-nav_button{
  float: right;
  height: 70px;
  width: 30px;
  margin-top: 25px;
  margin-right: 10px;
  position:relative;
  z-index: 999;
}

.nav-button{
  border: none;
  outline: 0;
}

.button-menu_content{
  position: absolute;
  margin-top: 70px;
  background: white;
  left:0px;
  right:0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  display: none;
  z-index: 1;
}

.login-page_sign a{
  text-decoration: none;
  color:inherit;
}

.login-page_forgot a{
  text-decoration: none;
  color: inherit;
}

.login-page_sign a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.login-page_forgot a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.show{
  display: block;
}

.button-menu_content a{
  text-decoration: none;
  list-style-type: none;
  font-family: Arial;
  font-size: 18px;
  color:#434d53;
  width: ;
}

.button-menu_content a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.small-content-top{
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 10px;
}

.small-content-bottom{
  height: 90px;
  width: 100%;
  position: relative;
  bottom: 0px;
  padding-top:;
  background-color: #fafafa
}

.small-menu-logo{
border-radius: 10px;
height: 30px;
width: 30px;
margin-top: 30px;
float: left;
margin-left: 5px;
}

.small-wrap{
  height: ;
  width: 30%;
}

.nav-option-wrap{
  height: 90px;
  width: 70%;
  float: right;
}

.small-nav-option{
  float: right;
  line-height: 90px;
  padding-right: 20px;
}

@media only screen and (max-width:500px){
  .small-nav-option{
    padding-right: 7px;
  }
  .small-menu-logo{
    height: 20px;
    width: 20px;
    margin-top: 35px;
  }
}

.small-content-bottom a{
  font-size: 14px;
  color: #969696;
}

.review-space{
  height: 20px;
  width: 100%;
}

.review-wrap{
  width: 72%;
  margin: 0 auto;
}

.review-ffak{
  background-image: url(./images/dark-skies.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-one-one{
  background-image: url(./images/beat.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-one-two{
  background-image: url(./images/space.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-one-three{
  background-image: url(./images/imp.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-one-four{
  background-image: url(./images/cake.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.test-video-wrap{
  height: 450px;
  width: 100%;
  background-color: #36363a;
  display: flex;
  justify-content: space-around;

}

.test-video{
  margin-top: 50px;
  height: 400px;
  width: 400px;
}

.test-video-top{
  height: 60%;
  width: 100%;
}

.test-video-bottom{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media only screen and (min-width: 500px){

  .test-video-wrap{
    height: 500px;
  }

  .test-video{
    width: 500px;
  }

  .test-video-top{
    height: 70%;
  }
  .test-video-bottom{
    height: 30%;
  }
}

.test-video-title{
  font-size: 20px;
  font-family: Arial;
  color:#9b9b9b;
  letter-spacing: 6px;
}

.test-video-text{
  font-size: 18px;
  font-family: Arial;
  color: #d8d8d8;
  letter-spacing: 2px;
}

.video-test{
  height: 100%;
  width: 100%;
}

.play-test{
  height: 100%;
  width: 100%;
}

.test-two{
  display: none;
}

@media only screen and (min-width:650px){
 .test-two{
   display: block;
 }
.test-video-top{
  height: 60%;
}
.test-video-bottom{
  height: 40%;
}

 .test-video{
   height: 250px;
   width: 45%;
 }
 .test-video-wrap{
   height: 350px;
 }
}

.test-three{
  display: none;
}

@media only screen and (min-width: 800px){
  .test-three{
    display: block;
  }

  .test-video{
    width: 30%;
    height: 250px;
  }
}

.test-four{
  display: none;
}

@media only screen and (min-width: 1100px){
  .test-four{
    display: block;
  }
  .test-video{
    width: 23%;
  }

  .test-video-title{
    font-size: 16px;
  }
  .test-video-text{
    font-size: 14px;
  }
}

.test-five{
  display: none;
}

@media only screen and (min-width: 1300px){
  .test-five{
    display: block;
  }
  .test-video{
    width: 18%;
    height: 225px;
  }
  .test-video-wrap{
    height: 325px;
  }
}

.news-bottom-title a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.feature-text-title:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.news-news{
  font-size: 28px;
  border-bottom: 5px solid #c2c2c2;
  width: 85px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #434d53
}

.review-review{
  font-size: 28px;
  border-bottom: 5px solid #c2c2c2;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #434d53
}

button{
  border: none;
  background-color: inherit;
  color: #f3f3f3;
  font-family: Arial;
  font-size: 12px;
  outline: 0;
  position: relative;
}
button:hover{
  text-decoration: underline;
  text-decoration-color: #dadada;
}

.login-content{
  position: fixed;
  width:;
  max-width:450px;
  left: 200px;
  right:200px;
  height: 550px;
  top:110px;
  display:none;
  z-index: 3;
  background-color: #4a4a4a;
  opacity: 0.8;
  margin: 0 auto;
}

.login-show{
  display: block;
}

.shut{
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.shut-img{
  height: 40px;
  width: 40px;
}

.login-show-shut{
  display: none;
}

.login-upper{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.login-upper_title{
  font-family: Arial;
  font-size: 28px;
  color: white;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  width: auto;
  margin: 0 auto;
}
.login-upper_text{
  font-size: 20px;
  font-family: Arial;
  color: white;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  width: auto;
  margin: 0 auto;
}

.login-bottom_username{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 20px;
}

.login-bottom_username input{
  width: 320px;
  height: 50px;
  font-size: 20px;
  font-family: Arial;
}

.login_title{
  font-size: 24px;
  font-family: Arial;
  color: white;
  width: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.login_text{
  font-size: 14px;
  font-family: Arial;
  color: white;
  width: auto;
  margin: 0 auto;
  margin-bottom: 70px;
  letter-spacing: 0px;
}

.login-button{
  border: 1px solid white;
  height: 50px;
  width: 320px;
  font-size: 20px;
}

.sign-up{
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.sign-up h4{
  font-family: Arial;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.sign-up a{
  font-family: Arial;
  color: white;
  font-size: 14px;
  width: 80px;
  font-weight: normal;
}

.sign-up a:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

.forgot{
  width: 50%;
  height: 40px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot a{
  font-size: 14px;
  font-family: Arial;
  color: white;
  font-weight: normal;
  margin-left: 40px;
  text-align: right;
  width: 140px;
}

.terms{
  clear: both;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.terms a{
  font-size: 12px;
  font-family: Arial;
  padding-top: 5px;
  text-decoration: underline;
  text-decoration-color: white;
  text-align: center;
}

.nav-option-wrap ul{
  list-style: none;
}



.newsletter{
  margin-top: 5px;
  height: 150px;
  width: 100%;
}

.newsletter_title{
  font-family: Arial;
  font-weight: 200;
  letter-spacing: 6px;
  font-size: 50px;
  color:#434d53;
  margin-top: 30px;
  margin-left: 20px;
}

.newsletter-content{
  height: 300px;
  width: 100%;
}

.newsletter_text{
  font-family: Arial;
  font-weight: 400;
  color: #434d53;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.newsletter-form{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-form input{
  height: 50px;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  font-family: Arial;
  font-size: 14px;
  color: inherit;
  margin-right: 20px;
  margin-left: 20px;
}

.newsletter-button{
  height: 50px;
  color: #434d53;
  border-bottom: 1px solid #c2c2c2;
  margin-left: 20px;
  margin-right: 20px;
}

.login-page{
  border: 1px solid #434d53;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-top: 80px;
}

@media only screen and (min-width:1035px){
  .login-page{
    margin-top: 40px;
  }
}

.login-page_title{
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  font-family: Arial;
  color: #434d53;
}

.Login-page_text{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial;
  color: #434d53;
  margin-top: 40px;
}

.login-page_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
}

.login-page_form input{
  height: 50px;
  font-size: 18px;
  font-family: Arial;
}

.login-page_button{
  height: 50px;
  color: #434d53;
  font-size: 18px;
  font-family: Arial;
  border: 1px solid #c2c2c2;
  z-index: 0;
}

.login-page_sign{
  width: 50%;
  float: left;
  height: 50px;
  font-size: 12px;
  color: #434d53;
  font-family: Arial;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.login-page_forgot{
  width: 50%;
  float: left;
  height: 50px;
  font-family: Arial;
  font-size: 12px;
  color:#434d53;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.login-page_terms{
  clear: both;
  display: flex;
  justify-content: space-around;
}

.login-page_terms a{
  font-family: Arial;
  color: #434d53;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.shop-head{
  height: 150px;
  width: 100%;
}

.shop-head_title{
  font-family: Arial;
  font-size: 50px;
  font-weight: 200;
  color: #434d53;
  letter-spacing: 6px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.shop-body_text{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 28px;
  font-family: Arial;
  color: #434d53;
  font-weight: normal;
  text-align: justify;
}

.Sign-space{
  height: 40px;
  width: 100%;
}

.features-page{
  width: 80%;
  margin: 0 auto;
}

.space{
  height: 5px;
  clear: both;
}

.features-title{
  font-size: 28px;
  font-family: Arial;
  font-weight: 400;
  color: #434d53;
  border-bottom: 5px solid #c2c2c2;;
  width: 140px;
  letter-spacing: 4px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.community-title{
    font-size: 28px;
    font-family: Arial;
    font-weight: 400;
    color: #434d53;
    border-bottom: 5px solid #c2c2c2;;
    width: 175px;
    letter-spacing: 4px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.feature-one{

  height: 50vw;
  width: 100%;
}


.feature-img-one{
  background-image: url(./images/beating.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-img-two{
  background-image: url(./images/tim1.jpg);
  background-size: cover;
  background-position: center;
}

.feature-img-three{
  background-image: url(./images/dark-skies.jpg);
  background-size: cover;
  background-position: center;
}

.feature-img-four{
  background-image: url(./images/doom.jpg);
  background-size: cover;
  background-position: center;
}

.feature-text{
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.album{
justify-content: center;
}

.about_text{
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 550px){
  .feature-one{
    height: 31.5vw;
    width: 70%;
  }

  .feature-text{
    height: 20vw;
    width: 70%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
  }
}

.feature-text:last-of-type{
  margin-bottom: 0px;
}



.feature-text-title{
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #434d53;
  text-align: left;
  text-decoration: none;
}

.feature-text-text{
  font-size: 14px;
  font-weight: normal;
  font-family: Arial;
  color: #4a4a4a;
  text-align: left;
}

.feature-date{
  font-size: 12px;
  font-style: Arial;
  color: #4a4a4a;
  text-align:left;
}
@media only screen and (min-width: 980px){

  .feature-text{
    height: 15vw;
  }

  .feature-text-title{
    font-size: 20px;
  }
  .feature-text-text{
    font-size: 16px;
  }
  .feature-date{
    font-size:14px;
  }
}

@media only screen and (min-width: 1300px){
  .feature-text{
    height: 12vw;
  }

  .feature-text-title{
    font-size: 22px;
  }
  .feature-text-text{
    font-size: 18px;
  }
  .feature-date{
    font-size:16px;
  }
}

@media only screen and (min-width: 1700px){
  .feature-text{
    height: 10vw;
  }
}

.review-master{
  height: 36vw;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.review-apart{
  height: 36vw;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.space_review{
  height: 10px;
  clear: both;
}

.page-finish{
  margin-top: 10px;
  height: 200px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-finish a{
  color: #969696;
  font-size:16px;
}

@media only screen and (max-width: 700px){
  .page-finish a{
    font-size: 14px;
  }
}



.letter-line{
  clear: both;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.letter-line a{
  font-weight: 400;
  font-family: Arial;
  color: #434d54;
  font-size: 14px;
}

.Letter-wrap{
  clear: both;
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

.letter{
  height: 100%;
  width: 20%;
  float: left;
  text-align: center;
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
}

.letter h1{
  font-weight: 400;
  font-family: Arial;
  color: #434d54;
}

.band{
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  height: 100%;
  width: 80%;
  float: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.band a{
  font-weight: 400;
  font-family: Arial;
  color: #434d54;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (min-width: 700px){
  .letter-line a{
    font-size: 20px;
  }
}

.news-top-one{
  background-image: url(./images/dream1.jpg);
  background-size: cover;
  background-position: center;
}

.news-top-two{
  background-image: url(./images/doom.jpg);
  background-size: cover;
  background-position: center;
}

.news-top-three{
  background-image: url(./images/tim1.jpg);
  background-position: center;
  background-size:cover;
}

.news-top-four{
background-image: url(./images/jh.jpg);
background-position: center;
background-size: cover;
}

.news-top-five{
background-image: url(./images/paul.jpg);
background-position: center;
background-size: cover;
}

.news-top-six{
background-image: url(./images/slip1.jpg);
background-size: cover;
background-position: center;
}

.news-top-allout{
  background-image: url(./images/allout.jpg);
  background-size: cover;
  background-position: center;}

.news-top-pursuit25{
    background-image: url(./images/amonlive.jpg);
    background-size: cover;
    background-position: center;
}

.news-top-oliallthat{
  background-image: url(./images/oli2.jpg);
  background-position: center;
  background-size: cover;
}

.news-top-micro{
  background-image: url(./images/jinjer.jpg);
  background-position: center;
  background-size: cover;}

.news-top-bell{
  background-image: url(./images/bellbig.jpg);
  background-position: center;
  background-size: cover;}

.news-top-myk{
  background-image: url(./images/mykur.jpg);
  background-position: center;
  background-size: cover;}

.news-top-pain{
  background-image: url(./images/pain.jpg);
  background-position: top;
  background-size: cover;
}

  .news-top-lucas{
    background-image: url(./images/lucas.jpg);
    background-position: center;
    background-size: cover;
  }

  .news-top-wolves{
    background-image: url(./images/wolves2.jpg);
    background-position: center;
    background-size: cover;
  }

  .news-top-swallow{
    background-image: url(./images/news-swallow.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  .news-top-asecret{
    background-image: url(./images/news-asecret.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  .news-top-behind{
    background-image: url(./images/news-behind.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  .news-top-sethhoward{
    background-image: url(./images/news-seth.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

  .news-top-north{
    background-image: url(./images/news-northlane.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }

.news-bottom-title{
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  color: #434d53;
  text-decoration: none;
}

.news-bottom-text{
  font-size: 14px;
  font-weight: normal;
  font-family: Arial;
  color: #4a4a4a;
  text-align: justify;
}

.news-bottom-date{
  font-size: 12px;
  font-style: Arial;
  color: #4a4a4a;
  text-align:left;
}

@media only screen and (min-width: 1900px){
  .news-bottom-title{
    font-size:21px;
  }
  .news-bottom-text{
    font-size: 17px;
  }
  .news-bottom-date{
    font-size: 15px;
  }
}

@media only screen and (min-width: 2300px){
  .news-bottom-title{
    font-size:23px;
  }
  .news-bottom-text{
    font-size: 19px;
  }
  .news-bottom-date{
    font-size: 17px;
  }
}

.news-wrap{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  margin: 0 auto;
  grid-gap: 10px;
}

.news{
  height: 95vw;
}

.news-top{
  height: 55vw;
  width: 100%;
  margin: 0 auto;
}

.news-bottom{
  height: 40vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 500px){
.news{
  height: 80vw;
}
  .news-bottom{
    height: 25vw;
  }
}

@media only screen and (min-width: 700px){

  .news-wrap{
  grid-template-columns: repeat(2, 1fr);
  }

  .news{
    height: 47vw;
  }

  .news-top{
    height: 27vw;
    width: 100%;
    margin: 0 auto;
  }

  .news-bottom{
    height: 20vw;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1035px){
  .news-wrap{
    grid-template-columns: repeat(3, 1fr);
  }
  .news{
    height: 35vw;
  }

  .news-top{
    height: 20vw;
    width: 100%;
    margin: 0 auto;
  }

  .news-bottom{
    height: 15vw;
    width: 100%;
    margin: 0 auto;
  }
}

.vid-wrap{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 87.5vw;
  background-color: #434d53;
}

.inner-vid-wrap{
  width: 90%;
  margin: 0 auto;
  height: 75vw;
  margin-top: 6vw;
}

.vid-vid{
  height: 47vw;
  width: 100%;
}
.vid-text{
  height: 27vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.first-hide{
  display: none;
}

.second-hide{
  display: none;
}

.third-hide{
  display: none;
}

@media only screen and (min-width: 550px){
  .vid-wrap{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    height: 47vw;
  }

  .inner-vid-wrap{
    height: 40vw;
    margin-top: 4vw;
  }
  .vid-vid{
    height: 23vw;
  }

  .vid-text{
    height: 16vw;
  }

  .first-hide{
    display: block;
  }
}

@media only screen and (min-width: 850px){
  .vid-wrap{
    grid-template-columns: repeat(3, 1fr);
    height: 34vw;
  }
  .inner-vid-wrap{
    height:28.4vw;
    margin-top: 3vw;
  }
  .vid-vid{
    height:16vw;
  }

  .vid-text{
    height: 12vw;
  }

  .second-hide{
    display: block;
  }
}

@media only screen and (min-width: 1300px){
  .vid-wrap{
    grid-template-columns: repeat(4, 1fr);
    height: 26vw;

  }
  .inner-vid-wrap{
    height:22vw;
    margin-top: 2vw;
  }
  .vid-vid{
    height:12vw;
  }

  .vid-text{
    height: 9.7vw;
  }

  .third-hide{
    display: block;
  }
}

.vid-title{
  font-size: 16px;
  font-family: Arial;
  color:#9b9b9b;
  letter-spacing: 6px;
}

.vid-vid-text{
  font-size: 16px;
  font-family: Arial;
  color: #d8d8d8;
  letter-spacing: 2px;
}

@media only screen and (min-width: 1800px){
  .vid-title{
    font-size: 18px
  }
  .vid-vid-text{
    font-size: 18px;
  }
}

@media only screen and (min-width:2000px){
  .vid-wrap{
    height: 24vw;
  }
  .inner-vid-wrap{
    height: 20vw;
  }
  .vid-text{
    height: 7.8vw;
  }
}

@media only screen and (min-width: 2200px){
  .vid-title{
    font-size: 22px
  }
  .vid-vid-text{
    font-size: 20px;
  }
  .feature-text{
    height: 8vw;
  }
}

.events-title{
  font-size: 28px;
  border-bottom: 5px solid #c2c2c2;
  width: 107px;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 0 auto;
  font-family: Arial;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #434d53;
  text-align: center;
}

.event-page{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.event-wrap{
  border:;
  border: 2px solid #c2c2c2;
  height: 87vw;
  width: 100%;
  margin: 0 auto;
}

.event-img{
  height: 50%;
  width: 100%;
}

.event-text-wrap{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-button{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-button a{
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #434d53;
  width: 100%;
  height: 100%;
  line-height:17vw;
}

.event-button a:active{
  background-color: #c2c2c2;
}

.img-one{
  background-image: url(./images/bury1.jpg);
  background-position: top;
  background-size: cover;
}

.img-two{
  background-image: url(./images/arch.jpg);
  background-position: top;
  background-size:cover;
}

.img-three{
  background-image: url(./images/park.jpg);
  background-position: top;
  background-size: cover;
}

.img-four{
  background-image: url(./images/tess1.jpg);
  background-position: top;
  background-size: cover;
}

.img-five{
  background-image: url(./images/mesh.jpg);
  background-position: center;
  background-size: cover;
}

.img-six{
  background-image:url(./images/grin.jpg);
  background-position: top;
  background-size: cover;
}

.img-mastadon{
  background-image:url(./images/mastadon.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.img-bahemoth{
  background-image:url(./images/bahemoth.jpg);
  background-position: top;
  background-size: cover;
}

.img-decapitated{
  background-image:url(./images/decapitated.jpg);
  background-position: top;
  background-size: cover;
}

.img-sleeps{
  background-image:url(./images/sleeps.jpg);
  background-position: top;
  background-size: cover;
}

.img-emmure{
  background-image:url(./images/emmure.jpg);
  background-position: top;
  background-size: cover;
}

.img-shvpes{
  background-image:url(./images/shvpes.jpg);
  background-position: center;
  background-size: cover;
}

.event-text-date{
  font-family: Arial;
  font-weight: normal;
  color: #434d53;
  font-size: 14px;
  text-align: justify;
}
.event-text{
  font-size: 22px;
  font-family: Arial;
  color:#36363a;
  text-align: justify;
}

@media only screen and (min-width: 650px){
  .event-page{
    grid-template-columns: repeat(2, 1fr);
  }
  .event-wrap{
    height: 45vw;
    width: 100%;
    margin: 0 auto;
  }

  .event-img{
  height: 50%;
  }

  .event-text-wrap{
    height: 30%;
    width: 100%;
  }

  .event-button{
    height: 20%;
    width: 100%;
  }
  .event-button a{
    line-height: none;
    line-height: 9.5vw;
  }
}

@media only screen and (min-width: 1250px){
  .event-page{
    grid-template-columns: repeat(3, 1fr);
  }
  .event-wrap{
    height: 32.5vw;
    width: 100%;
    margin: 0 auto;
  }

  .event-img{
  height: 50%;
  }

  .event-text-wrap{
    height: 30%;
    width: 100%;
  }

  .event-button{
    height: 20%;
    width: 100%;
  }
  .event-button a{
    line-height: none;
    line-height: 6.5vw;
  }
}

.review-link{
  border: 1px solid red;
  font-size: inherit;
  font-family: Arial;
  color: #43453d;
  text-decoration: none;
}

.article-page{
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}
.article-left{
  width: 100%;
  max-width: 1360px;
}

.article-img{
  height: 45vw;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.article-img-one{
  background-image: url(./images/dreamtheater.jpg);
  background-position: center;
  background-size: cover;
}

.article-img-two{
  background-image: url(./images/doom2.jpg);
  background-position: center;
  background-size: cover;
}

.article-img-three{
  background-image: url(./images/timbig.jpg);
  background-position: center;
  background-size: cover;
}

.article-img-four{
  background-image: url(./images/slip9.jpg);
  background-position: center;
  background-size: cover;
}

.article-img-vin{
  background-image:url(./images/vin2.jpg);
  background-size: cover;
  background-position: top;
}

.article-img-james{
  background-image: url(./images/james.jpg);
  background-size: cover;
  background-position: left;
}

.article-img-juniper{
  background-image: url(./images/juniper.jpg);
  background-size: cover;
  background-position: cover;
}

.article-img-allout{
  background-image: url(./images/allout5.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-pursuit25{
  background-image: url(./images/pursuit25.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-oliherbert{
  background-image: url(./images/olih.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-micro{
  background-image: url(./images/micro1.jpg);
  background-size: cover;
  background-position: top;
}

.article-img-bellwitch{
  background-image: url(./images/bell.jpg);
  background-size: cover;
  background-position: top;
}

.article-img-vitriol{
  background-image: url(./images/vitriol.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-lucas{
  background-image: url(./images/lucas2.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-wolves{
  background-image: url(./images/wolves.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-behind{
  background-image: url(./images/article-behind2.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-swallow{
  background-image: url(./images/article-swallow.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-asecretrevealed{
  background-image: url(./images/article-asecret.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-northlane{
  background-image: url(./images/article-northlane.jpg);
  background-size: cover;
  background-position: center;
}

.article-img-sethhoward{
  background-image: url(./images/article-seth.jpg);
  background-size: cover;
  background-position: center;
}

.article-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial;
  color: #43453d;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
  text-align: center;
  margin: 2%;
}

.article-text{
  font-size: 15px;
  font-family: Arial;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-align: justify;
  margin: 2%;
}

.article-video{
  height: 43vw;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 535px;
}

.article-vid{
  height: 100%;
  width: 85%;
}

.article-right-wrap{
  display: none;
  width: 30%;
  height: 80vw;
  float: right;
  max-width: 540px;
  max-height: 1300px;
}

.article-inner{
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.article-inner_title{
  font-size: 22px;
  font-family: Arial;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #43453d;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.video-one{
  margin-bottom: 10px;
  height: 13.6vw;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 240px;
}

.article-right-vid{
  height: 100%;
  width: 100%;
}

.article-text a{
  font-size: inherit;
  font-family: Arial;
  color: #43453d;
  text-decoration: none;
}

.article-text a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

@media only screen and (min-width: 900px){
  .article-left{
    width: 70%;
    float: left;
  }

  .article-right-wrap{
    display: block;
  }

  .article-video{
    height: 30vw;
  }
  .article-text{
    font-size: 18px;
  }
  .article-title{
    font-size: 26px;
  }
}

@media only screen and (min-width: 1650px){
  .article-text{
    font-size: 20px;
  }
}

.review-title{
  font-size: 28px;
  font-family: Arial;
  font-weight: 400;
  color: #434d53;
  border-bottom: 5px solid #c2c2c2;;
  width: 125px;
  letter-spacing: 6px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-album-beat{
height: 40vw;
background-image: url(./images/beat.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
max-height: 700px;
}

.review-album-space{
  height: 40vw;
  background-image: url(./images/space.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
}

.review-album-imp{
  height: 40vw;
  background-image: url(./images/imp.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
}

.review-album-cake{
  height: 40vw;
  background-image: url(./images/cake.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
}

.review-album-ffak{
  height: 40vw;
  background-image: url(./images/dark-skies.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
}

.review-article-wrap{
  width: 65%;
  margin: 0 auto;
}

.review-article-title{
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  font-family: Arial;
  text-decoration: underline;
  color: #43454d;
  font-weight: 400;
  text-decoration-color: #c2c2c2;
}

.advert-head{
  height: 150px;
  width: 100%;
  margin-left: 5px;
}

.advert-head_title{
  font-family: Arial;
  font-weight: 200;
  letter-spacing: 6px;
  font-size: 50px;
  color:#434d53;
  margin-top: 30px;
}

.advert-head_text{
  margin-left: 5px;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.advert-text{
  font-family: Arial;
  font-weight: 400;
  color: #434d53;
}

@media only screen and (min-width: 470px){
  .advert-head{
    margin-left: 20px;
  }
  .advert-head_text{
    margin-left: 20px;
  }
}

.band a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.lyrics-page_title{
  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: Arial;
  font-size: 30px;
  width: 328px;
  margin: 0 auto;
  text-decoration:underline;
  text-decoration-color: #c2c2c2;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #434d53
}

.lyrics-page-page-tile{
  border-left: 1px solid #c2c2c2;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.lyrics-page-page{
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 10px;
}

.lyrics-page_tile{
  height: 27.5vw;
}

.lyrics-page_image{
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

.lyrics-page_album-title_wrap{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.lyrics-page_album-title{
  font-size: 24px;
  font-family: Arial;
  font-weight: normal;
  color: #434d53;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
  text-align: center;
}

.lyrics-page_sub{
  font-size: 26px;
  font-family: Arial;
  font-weight: normal;
  color: #434d53;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
  text-align:;
  margin-bottom: 10px;
}

.lyrics-page_album-songs{
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: auto;
}

.lyrics-page_album-songs a{
  text-decoration: none;
  color: #434d53;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

.lyrics-page_album-songs a:hover{
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.lyrics-layout{
  width: 90%;
  border-left: 1px solid #c2c2c2;

  margin: 0 auto;
  max-width: 1000px;
}


.lyrics-layout_image{
  height: 23vw;
}

.lyrics-test{
  text-decoration: none;
  color: #434d53;
  font-size: 22px;
  font-family: Arial;
  font-weight: normal;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.lyrics-test-test{
  text-decoration: none;
  color: #434d53;
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

.lyrics-under{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 1000px;
}

.lyrics-under_text{
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  color: #434d53;
}

.lyrics-under_dis{
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  color: #434d53;
}

.photo-credit{
  color: white;
  font-family: Arial;
  font-size: 10px;
}

.article-cap{
  max-width: 1200px;
  margin: 0 auto;
}

.community-wrap{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  max-width: 1700px;
  max-height: 478px;
}

.community-video{
  height: 25vw;
  max-height: 478px;
}

.community-text{
  height: 25vw;
  max-height: 478px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community-text_title{
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
  color: #434543;
}

.community-text_text{
  font-size: 16px;
  font-family: Arial;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: #434543;
}

@media only screen and (max-width: 800px){
  .community-wrap{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
    max-height:4000px;
  }
  .community-video{
    height: 50vw;
  }
  .community-text{
    height: 50vw;
    max-height: 200px;
  }
}

.community-wrap_bottom{
  margin-bottom: 0;
}
