*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.site-logo{
width: 24%;

}

.center-nav{
  margin-left: 85px;
  width: 700px;
  flex-wrap: wrap;
}

.three{
  padding-left: 62px;
}

.two{
  padding-left: 150px;
}

@media only screen and (max-width: 1200px){
  .container-news{
    width: 100%;
  }
  .small{
    display: none;
    }
  }

  .container-reviews{
    width: 95%;
  }
}
